@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.loading:disabled {
  color: transparent;
  position: relative;
}
.loading:disabled::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.apexcharts-tooltip,
.apexcharts-menu,
.apexcharts-xaxistooltip {
  background-color: #1e2e43 !important;
  border: 1px solid #374151 !important;
  box-shadow: none !important;
}

.apexcharts-menu-item:hover {
  background-color: #374151 !important;
}

.apexcharts-xaxistooltip {
  color: #f3f4f6 !important;
}
.apexcharts-xaxistooltip-bottom:before {
  border-bottom-color: #374151 !important;
}
.apexcharts-xaxistooltip-bottom:after {
  border-bottom-color: #1e2e43 !important;
}

tspan {
  fill: #6b7280;
}

.apexcharts-toolbar > div:not(.apexcharts-menu) {
  color: #6b7280;
}
.apexcharts-toolbar > div:hover > svg {
  fill: #4b5563 !important;
}
